[submodule "public"]
    path = public
    url = https://github.com/linuxias/linuxias.github.io

[submodule "theme-hugo-learn"]
    path = themes/theme-hugo-learn
    url = https://github.com/matcornic/hugo-theme-learn
    
